<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Boîte de réception</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
    <style>
        .card {
            transition: transform 0.2s ease-in-out;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .card-header .action-buttons {
            visibility: hidden;
            /* Les boutons sont invisibles par défaut */
            opacity: 0;
            transition: visibility 0s, opacity 0.3s ease-in-out;
        }

        .card:hover .action-buttons {
            visibility: visible; /* Les boutons deviennent visibles au survol */
            opacity: 1;
        }
    </style>
</head>
<body>
<div layout:fragment="content1" >
    <div >
        <h1 class="text-left">Boîte de réception</h1>
    </div>

    <div th:class="${sent=='true' or sent=='false' ? 'alert alert-dismissible fade show' : 'd-none'}"
         th:classappend="${sent=='true' ? 'alert-success' : 'alert-danger'}" role="alert">
        <h4 th:text="${sent=='true' ? 'Message envoyé avec succès!' : 'Échec: message non envoyé.'}"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    </div>

    <div th:if="${messages == null || messages.isEmpty()}" class="alert alert-info">
        Aucun message dans la boîte de réception.
    </div>

    <div class="container-fluid" th:if="${messages != null}">
        <div class="row row-cols-1 ">
            <div class="col" th:each="message : ${messages}">
                <div class="card h-100">
                    <div  th:class="${message.isRead} ? 'card-header bg-light' : 'card-header bg-primary text-light'">
                       <div class="d-flex"> <div class="flex-fill text-left">
                            <span th:text="${message.sender}"></span>
                        </div>
                        <div class="flex-fill text-center">
                            <span th:text="${message.subject}"></span>
                        </div>
                        <div class="flex-fill text-end">
                            <span th:text="${message.date}"></span>
                        </div>

                        <!-- Boutons d'action masqués par défaut -->
                        <div class="ms-4 action-buttons">
                            <a class="btn btn-success btn-sm me-1" title="Ouvrir" th:href="@{/inbox/{id}(id=${message.id})}">
                                <i class="bi bi-book"></i>
                            </a>
                            <a th:href="${message.isRead ? '/setNonLu/' + message.id + '?page=' + currentPage : '#'}"
                               th:class="${message.isRead ? 'btn btn-secondary btn-sm' : 'btn btn-secondary btn-sm disabled'}"
                               th:title="${message.isRead ? 'Marquer comme non lu' : 'Déjà non lu'}">
                                <i class="bi bi-app-indicator"></i>
                            </a>
                            <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce message ?')"
                               class="btn btn-danger btn-sm" title="Supprimer le message"
                               th:href="@{/delete/{id}(id=${message.id}, page=${currentPage})}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer mt-4">
        <ul class="pagination justify-content-center mb-0">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a title="Première Page" class="page-link" th:href="@{/accueilMail(page=${0}, keyword=${keyword})}">&laquo;&laquo;</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a title="Page Précédente" class="page-link"
                   th:href="@{/accueilMail(page=${currentPage - 1}, keyword=${keyword})}">&laquo;</a>
            </li>
            <li class="page-item" th:each="page, status : ${pages}" th:class="${status.index == currentPage ? ' active' : ''}">
                <a title="Page en cours" class="page-link" th:text="${status.index + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == pages.length - 1} ? 'disabled'">
                <a title="Page Suivante" class="page-link"
                   th:href="@{/accueilMail(page=${currentPage + 1}, keyword=${keyword})}">&raquo;</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == pages.length - 1} ? 'disabled'">
                <a title="Dernière Page" class="page-link"
                   th:href="@{/accueilMail(page=${pages.length - 1}, keyword=${keyword})}">&raquo;&raquo;</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
